/* Group Members: Daniel Mallia and Darren Zhang */

/* Universal CSS */
body {
    background-color: rgb(217, 231, 197);
}

.NextPageDiv {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Part 1 CSS */
.arguButton {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 75%;
    background-color: moccasin;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

#Part1ButtonDiv {
    display: flex;
    justify-content: center;
}

#arguText {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 45px;
}


/* PART 2 CSS */
#Part2ParanoidDiv {
    width: auto ;
    height: 400px;
    border: 10px;
    border-style: dashed;
    border-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Part2ParanoidDiv p {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 45px;
}

#Part2ParanoidDiv:hover {
    background-color: rgb(159, 178, 235);
}

/* PARTS 3 AND 4 CSS */
input {
    width: 200px;
    height: 50px;
    padding: 20px, 20px, 20px, 20px;
}