/* Group Members: Daniel Mallia and Darren Zhang */

#button1{
    color: blue;
}

/* PART 2 CSS */
#Part2ParanoidDiv {
    width: auto ;
    height: 400px;
    border: 10px;
    border-style: dashed;
    border-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Part2ParanoidDiv p {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

#Part2ParanoidDiv:hover {
    background-color: royalblue;
}

#Part2NormalDiv {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PARTS 3 AND 4 CSS */
#Parts3and4Form {
    
}